/* ============ Settings ============ */
$container-width: 1090px;
$image-path: '../images/';

/* ============ Fonts ============ */
$font-montserrat: 'Montserrat', sans-serif;;

/* ============ Colors ============ */
$blue: #5584f9;
$blue-light: #729cff;
