.token-selector {
  display: flex;

  &__active {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-icon {
      width: 28px;
      height: 28px;
      object-fit: contain;
    }

    &-symbol {
      font-weight: 600;
      color: #222222;
      margin: 0 6px;
    }
  }

  &__container {
    max-width: 200px;
    padding: 25px 20px;
  }

  &__input {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #474d5f;
    outline: none;
    border: none;
    border-bottom: 1px solid #dfe3ea;
    margin-bottom: 15px;
    padding: 0 30px 8px 0;

    &::placeholder {
      opacity: .6;
    }

    &-container {
      position: relative;

      &::after {
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: -3px;
        right: 0;
        background-image: url($image-path + 'icons/search.svg');
      }
    }
  }

  &__item {
    margin-bottom: 10px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &-container {

    }

    &-symbol,
    &-balance {
      font-size: 14px;
      font-weight: 500;
      color: #474d5f;
    }

    &-symbol {
      font-weight: 600;
      margin-bottom: 1px;
    }
  }
}
