/* ============ Settings ============ */
$container-width: 1090px;
$image-path: '../images/';

/* ============ Fonts ============ */
$font-montserrat: 'Montserrat', sans-serif;;

/* ============ Colors ============ */
$green: #0d9e58;
$blue: #5584f9;
