.header {
  width: 100%;
  padding: 15px 0;
  box-shadow: 0 2px 134px 0 rgba(0, 0, 0, 0.51);
  background-image: linear-gradient(to bottom, #48505a, #2f3640);
  position: relative;
  z-index: 1;

  &__container {
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 90px;
    height: 61px;
    background-image: url($image-path + 'logos/yolo.svg');
  }

  &__content {
    display: flex;
    align-items: center;

    &-item,
    &-button {
      font-size: 14px;
      font-weight: 400;
      color: white;
    }

    &-item {
      margin-right: 30px;
      transition: color .3s;

      &:hover {
        color: $blue-light;
      }
    }

    &-button {
      margin-right: 0;
    }

    &-account {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &-name {
      font-size: 14px;
      font-weight: 600;
      color: #8c98aa;
      margin-right: 10px;
    }

    &-arrow {
      position: relative;
      top: 1px;
    }
  }
}
