.market {
  margin-top: 50px;
  padding: 0 45px;

  &__header {
    margin-bottom: 50px;

    &-title {
      font-size: 24px;
      font-weight: 600;
      color: #1f2c50;
      text-transform: uppercase;
    }

    &-input {
      max-width: 50%;
      position: relative;

      input {
        font-size: 16px;
        color: #8f8f8f;
        width: 430px;
        padding: 13px 20px;
        max-width: 100%;
        outline: none;
        border: 1px solid #dfe3ea;
        border-radius: 22.5px;
        background-color: #ffffff;
        -webkit-appearance: none;

        &::placeholder {
          opacity: .6;
        }
      }

      &::after {
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        background-image: url($image-path + 'icons/search.svg');
      }
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    &-select {
      min-width: 180px;
      padding-bottom: 18px;
      padding-left: 60px;
      justify-content: initial;
      position: relative;
    }

    &-option {
      font-size: 12px;
      font-weight: 600;
      color: $blue;
      position: relative;
      padding: 0 25px;
      //cursor: pointer;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -18px;
        left: 0;
        transition: all .3s;
      }

      &.active::after,
      &:hover::after {
        background-color: $blue;
      }

      &.disabled {
        color: #ccc;
        pointer-events: none;
      }
    }

    &-header {
      min-width: 150px;
      font-size: 12px;
      font-weight: 600;
      color: $blue;
      text-align: left;
      padding-bottom: 18px;
      text-transform: uppercase;

      // Should enable when we have sort function for the table
      /*&::before {
        content: '';
        display: inline-block;
        width: 11px;
        height: 11px;
        background-image: url($image-path + 'icons/arrow-blue-up.svg');
        margin-right: 8px;
      }*/
    }

    &-icon {
      margin-right: 15px;
      width: 32px;
      height: 32px;
      object-fit: contain;
    }

    &-text {
      font-size: 14px;
      font-weight: 500;
      color: #8690ad;
    }

    &-change {
      font-size: 14px;
      font-weight: 500;
      color: white;
      padding: 4px 15px;
      border-radius: 3px;
      background-color: #6bc84b;
      display: inline-block;

      &::after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 13px;
        margin-left: 5px;
        background-image: url($image-path + 'icons/arrow-white-up.svg');
      }

      &.down {
        color: #f1637d;
        background-color: #ffdae1;

        &::after {
          background-image: url($image-path + 'icons/arrow-red-up.svg');
          transform: rotate(180deg);
        }
      }

      &.none {
        padding: 4px 30px;
        background-color: #ccc;

        &::after {
          display: none;
        }
      }
    }

    &-bg-loading {
      width: 25px;
      height: 25px;
      position: absolute;
      top: -4px;
      left: 10px;
      background-image: url($image-path + 'icons/loading-circle-2.gif');
      background-size: contain;
    }

    tr:first-child th {
      border-bottom: 1px solid #dce4ee;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    th:last-child,
    td:last-child {
      text-align: right;
      padding-right: 20px;
    }

    td {
      padding: 13px 0;

      &:first-child {
        padding-left: 30px;
      }
    }
  }

  &__loading {
    font-weight: 500;
    color: #8690ad;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 750px) {
    padding: 0;

    &__header {
      padding: 0 20px;
    }

    &__table {
      &-container {
        overflow-x: auto;
        overflow-y: hidden;
      }

      &-select {
        padding-left: 20px;
      }

      &-option {
        padding: 0 15px;
      }

      td:first-child {
        padding-left: 20px;
      }
    }
  }

  @media (max-width: 450px) {
    &__header {
      display: block;

      &-title {
        margin-bottom: 30px;
        text-align: center;
      }

      &-input {
        padding: 0 20px;
        max-width: 100%;

        &::after {
          right: 40px;
        }
      }
    }
  }
}
